### Descriptive Statistics

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('preprocessedData.csv')

In [3]:
data.head(10)

,customerid,entity,name,surname,birthdate,sex,country,state,purpose,deal_satisfaction,mortgage,source,building,datesale,type,property,area,price,status
0,104,1,Diana,Hunt,1931-02-13,1,7,0,0,3,0,2,3,2007-06-01,0,25,923.21,296483.14,0
1,21,1,Kaylin,Villarreal,1932-06-13,1,5,6,1,3,0,2,1,2005-04-01,0,23,782.25,261579.89,0
2,148,1,Myah,Roman,1933-05-05,1,7,1,1,5,1,0,3,2006-05-01,0,9,743.41,222867.42,0
3,172,1,Henry,Kennedy,1933-06-08,2,7,1,0,4,1,0,3,2006-03-01,0,52,923.21,291494.36,0
4,103,1,Jamal,Mueller,1936-08-13,2,7,5,1,2,0,2,3,2007-06-01,0,40,670.89,204292.49,0
5,103,1,Jamal,Mueller,1936-08-13,2,7,5,1,2,0,2,3,2007-06-01,0,8,697.89,219865.76,0
6,5,1,Rodolfo,Gibson,1937-01-20,2,7,4,0,2,1,2,1,2004-08-01,0,33,1434.09,412856.56,0
7,129,1,Jesus,Obrien,1938-06-09,2,7,5,1,3,0,2,3,2007-10-01,0,48,781.07,249075.66,0
8,129,1,Jesus,Obrien,1938-06-09,2,7,5,1,3,0,2,3,2007-10-01,0,12,781.07,210824.06,0
9,115,1,Issac,Edwards,1938-10-29,2,7,1,0,5,0,2,3,2007-08-01,0,2,923.21,261871.70,0

1 - Breakdown by Building

In [17]:
# Identify unique building types
building_types = data['building'].unique()

In [18]:
print(building_types)

[3 1 5 2 4]

In [19]:
# Select columns of interest
totals_columns = ['building', 'price', 'mortgage']

In [20]:
# Create totals DataFrame
totals_df = data[totals_columns]

In [27]:
# Group totals by building type and aggregate
totals_by_building = totals_df.groupby('building').sum()

In [22]:
totals_avg = ['building','area','price','deal_satisfaction']

In [23]:
totals_avg_df = data[totals_avg]

In [26]:
averages_by_building = totals_avg_df.groupby('building').mean()

In [25]:
# Display the results
print("Total Properties Sold and Mortgaged by Building Type:")
print(totals_by_building)

print("\nAverage Area, Price, and Deal Satisfaction by Building Type:")
print(averages_by_building)

Total Properties Sold and Mortgaged by Building Type:
                price  mortgage
building
1         14307448.61        20
2         16339725.35        21
3         17668429.10        25
4         12480299.17        29
5         14276995.44        39

Average Area, Price, and Deal Satisfaction by Building Type:
                area          price  deal_satisfaction
building
1         928.038846  275143.242500           3.673077
2         943.891930  286661.848246           3.543860
3         927.852381  280451.255556           3.634921
4         974.720930  290239.515581           3.930233
5         914.298654  274557.604615           3.826923

### Breakdown by Country

In [30]:
print(data['country'].unique())

[7 5 1 0 6 2 4 3]

In [31]:
# Select columns of interest
totals_columns = ['country', 'price', 'mortgage']

In [32]:
country_totals_df = data[totals_columns]

In [33]:
totals_by_county = country_totals_df.groupby('country').sum()

In [36]:
totals_avg = ['country','area','price','deal_satisfaction']

In [37]:
country_avg_df = data[totals_avg]

In [38]:
averages_by_country = country_avg_df.groupby('country').mean()

In [39]:
# Display the results
print("Total Properties Sold and Mortgaged by Country:")
print(totals_by_county)
print("Averages by Country:")
print(averages_by_country)

Total Properties Sold and Mortgaged by Country:
               price  mortgage
country
0          458150.94         0
1         1918485.69         0
2          257183.48         0
3          205098.21         0
4          338181.18         0
5         1115315.34         1
6          440285.36         0
7        70340197.47       133
Averages by Country:
                area          price  deal_satisfaction
country
0         852.730000  229075.470000           3.000000
1         917.382857  274069.384286           5.000000
2         785.480000  257183.480000           1.000000
3         743.410000  205098.210000           5.000000
4        1283.450000  338181.180000           3.000000
5         903.757500  278828.835000           2.500000
6         739.480000  220142.680000           4.000000
7         939.508514  282490.752892           3.702811

### Breakdown by State

In [40]:
print(data['state'].unique())

[0 6 1 5 4 7 2 8 9 3]

In [41]:
# Select columns of interest
totals_columns = ['state', 'price', 'mortgage']

In [42]:
# Create totals DataFrame
state_totals_df = data[totals_columns]

In [43]:
# Group totals by state and aggregate
totals_by_state = state_totals_df.groupby('state').sum()

In [44]:
# Display the results
print("Total Properties Sold and Mortgaged by State:")
print(totals_by_state)

Total Properties Sold and Mortgaged by State:
             price  mortgage
state
0       2854796.41         3
1      55974847.25       113
2       2570287.08         5
3        252185.99         0
4       4720038.60         8
5       2602526.55         1
6       3844575.97         1
7       1188776.40         1
8        860576.75         2
9        204286.67         0

In [45]:
# Select columns of interest
average_columns = ['state','area' ,'price', 'deal_satisfaction']

In [46]:
# Create totals DataFrame
state_avg_df = data[average_columns]

In [47]:
# Group totals by state and aggregate
averages_by_state = state_avg_df.groupby('state').mean()

In [48]:
# Display the results
print("Averages by State:")
print(averages_by_state)

Averages by State:
             area          price  deal_satisfaction
state
0      841.627273  259526.946364           3.363636
1      971.615885  291535.662760           3.843750
2      777.010909  233662.461818           3.181818
3      923.210000  252185.990000           3.000000
4      921.692941  277649.329412           3.235294
5      766.954545  236593.322727           3.090909
6      920.563571  274612.569286           3.642857
7      814.986000  237755.280000           3.200000
8      730.712500  215144.187500           4.500000
9      701.660000  204286.670000           3.000000

In [49]:
# Frequency distribution by state
frequency_by_state = data['state'].value_counts().reset_index()
frequency_by_state.columns = ['state', 'frequency']

In [50]:
# Relative frequency by state
total_properties = len(data)
frequency_by_state['relative_frequency'] = frequency_by_state['frequency'] / total_properties

In [51]:
# Cumulative frequency by state
frequency_by_state['cumulative_frequency'] = frequency_by_state['frequency'].cumsum()

In [52]:
# Display the results
print("Frequency by State:")
print(frequency_by_state)

# Save the results to a CSV file, if needed
frequency_by_state.to_csv('frequency_by_state.csv', index=False)

Frequency by State:
   state  frequency  relative_frequency  cumulative_frequency
0      1        192            0.719101                   192
1      4         17            0.063670                   209
2      6         14            0.052434                   223
3      0         11            0.041199                   234
4      5         11            0.041199                   245
5      2         11            0.041199                   256
6      7          5            0.018727                   261
7      8          4            0.014981                   265
8      9          1            0.003745                   266
9      3          1            0.003745                   267